@import url('https://fonts.googleapis.com/css?family=Sen|Source+Sans+Pro&display=swap');

:root {
    --sen-font: 'Sen', sans-serif;
    --sans-pro-font: 'Source Sans Pro', sans-serif;
    font-size: 2vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--sen-font);
}

.heading {
    padding: 3rem 1rem;
    font-size: 2rem;
    background-color: lightcoral;
}

.login {
    margin: 1rem;
    font-size: 2rem;
    border: 2px solid lightcoral;
}

.login h3 {
    margin: 1rem;
}

.input-container {
    margin: 1rem;
}

.input-container label, input, button {
    font-size: 2rem;
}

.input-container input {
    border: 2px solid black;
}

.login-btn {
    border-radius: .4rem;
    padding: .2rem;
}

.login-btn:hover {
    cursor: pointer;
}

.options {
    margin: 1rem;
}

